@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";

@import "colors-semantic.module";
@import "colors.module";


$font-family-sans-serif-heading: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI",
Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$hover-factor: 5%;
$active-factor: 8%;

$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.25),
    5: ($spacer * 1.5),
    6: ($spacer * 1.75),
    7: ($spacer * 2),
    8: ($spacer * 2.5),
    9: ($spacer * 3),
  ),
  $spacers
);


// BUTTONS
$buttonBorderSize: 1px;

// XS - 24
$buttonPaddingXS-y: 0.125rem;
$buttonPaddingXS-x: 0.5rem;
$buttonInnerSpacingXS-x: 0.25rem;
$buttonFontSizeXS: 0.75rem;
$buttonLineHeightXS: 1.125rem;

// SM - 30
$buttonPaddingSM-y: 0.25rem;
$buttonPaddingSM-x: 0.5rem;
$buttonInnerSpacingSM-x: 0.25rem;
$buttonFontSizeSM: 0.875rem;
$buttonLineHeightSM: 1.25rem;

// MD - 40
$buttonPaddingMD-y: 0.4375rem;
$buttonPaddingMD-x: 1rem;
$buttonInnerSpacingMD-x: 0.25rem;
$buttonFontSizeMD: 1rem;
$buttonLineHeightMD: 1.5rem;

// LG - 50
$buttonPaddingLG-y: 0.6875rem;
$buttonPaddingLG-x: 1.25rem;
$buttonInnerSpacingLG-x: 0.375rem;
$buttonFontSizeLG: 1.125rem;
$buttonLineHeightLG: 1.625rem;

$grid-columns: 24;
$grid-gutter-width: 8px;
$grid-row-columns: 6;

$focus-shadow: 0 0 0 0.15rem rgba($primary, 0.2);

$transition-time: .3s;
$transition-function: ease-in-out;
$transition-base: all $transition-time $transition-function;
$transition-func-cubic: cubic-bezier(0.15, 0.5, 0.5, 1);

$border-radius-0: 0;
$border-radius-1: 2px;
$border-radius-2: 5px;
$border-radius-3: 8px;
$border-radius-4: 12px;

$border-radius: $border-radius-2;
$border-radius-block: $border-radius-4;