@import "src/styles/global";
@import "src/pages/components/aside/aside.variables";

.ShowcaseContent {
  margin-left: $aside-width + 16px;
  margin-top: .5rem;
  margin-right: .5rem;
  border: 1px solid $color-border-base;
  border-radius: $border-radius-block;
  padding: 4rem 1rem 1rem;
  transition: $transition-base;
}

.AsideSwitcher {
  position: absolute;
  z-index: $z-index-aside-switcher;
  top: .5rem;
  left: .5rem;
  transition: $transition-base;
}
