@import './aside.variables';

:global {

  .Aside {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    bottom: 0.5rem;
    z-index: $z-index-aside;
    width: $aside-width;
    background-color: $color-bg-base-100;
    border-radius: $border-radius-block;
    padding-top: 2.5rem;

    &.AnimateHiding {
      animation: 0.3s $transition-func-cubic 0s Aside-Slide-Out;
      transform: translateX(-110%);
    }

    &.AnimateShowing {
      animation: 0.3s $transition-func-cubic 0s Aside-Slide-In;
    }

    &.AsideHidden {
      display: none;
    }

    &.AsidePopup {
      border: 1px solid $color-border-base;
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    }

  }

}

.AsideNavWrapper {
  position: absolute;
  top: 9.5rem;
  left: 0;
  right: 0.5rem;
  bottom: 1rem;
  overflow-y: scroll;
}
